body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-item {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.footer {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}